{% extends 'base.html' %}
{% block body %}
<div ng-controller="AppCtrl" ng-init="init('{{access_token}}')"
 <div class="off-canvas-wrap" data-offcanvas>
   <div class="inner-wrap">
  <nav class="tab-bar">

   <section class="middle tab-bar-section large-11 push-2 columns">
    <img src="img/navbar.png">
   </section>

   <section class="right-small">
    <a href="#settings" role="button" aria-controls="settings" aria-expanded="false" class="right-off-canvas-toggle menu-icon" ><span></span></a>
   </section>
  </nav>
  

  <nav class="right-off-canvas-menu" id="settings">
   <ul class="off-canvas-list">
    <li><label>Settings</label></li>
      <li><a href="/logout">Logout</a></li>
   </ul>
  </nav>
  
  <div class="row">
    <nav class="side-nav large-2 columns left">
     <ul class="side-nav text-center" >
      <li><a href="#" data-reveal-id="genome">Add a genome</a></li>
      <li><label id="sidenav">Patients</label></li>
      <li ng-repeat="patient in patients"> {%raw%}
        <a ng-click="setCurrentPatient(patient)">Patient {{patient.sampleId[0]}} <small>status: {{patient.status}}</small></a>{%endraw%}</li>
     </ul>
    </nav>



    <div id="genome" class="reveal-modal radius" data-reveal>
      <h2>Upload a new file</h2>
      <!-- api integration can go here -->
      <form name="uploadForm" method="POST", action="http://localhost:5000/patient?access_token={{access_token}}" 
      enctype="multipart/form-data" novalidate>
        <input  type="text" name="sampleId" placeholder="SampleId"/>
        <input  name="file" class="button radius" type="file">
        <input type="submit" value="Upload"/>
      </form>
      <a class="close-reveal-modal">&#215;</a>
    </div>

    <section class="main-section">
        <!-- main content goes here --> 
     <div style="height:59rem;" class="large-10 push-2 columns">
       <table ng-show="currentPatient" id="myTable" class="tablesorter"> 
        <thead> 
          <tr> 
            <th>Chr</th>
            <th>Ref</th>
            <th>Alt</th> 
            <th>Start</th>
            <th>End</th> 
            <th>Gene Effect</th>
            <th>Gene Ident.</th>
            <th>Harmfulness</th>
            <th>Clinical Sig.</th> 
            <th>Allele Freq</th> 
          </tr> 
        </thead> 
        <tbody> {%raw%}
          <tr ng-repeat="row in table"> 
            <td>{{row.Chr}}</td>
            <td>{{row.Ref}}</td> 
            <td>{{row.Alt}}</td> 
            <td>{{row.Start}}</td> 
            <td>{{row.End}}</td> 
            <td>{{row.ExonicFunc_refGene}}</td>
            <td>{{row.Gene_refGene}}</td>
            <td>{{row.LJB26_Polyphen2_HVAR_score}}</td>
            <td>{{row.clinvar_20140902}}</td>
            <td>{{row.esp6500si_all}}</td>
          </tr>
          {%endraw%}
        </tbody> 
      </table>

      <div ng-show="currentPatient" style="position:relative;right:10px;color:white; float:right">
        <a ng-click="pageLeft()" style="font-size:25px"> < </a><a ng-click="pageRight()" style="font-size:25px"> > </a>
      </div>
      
      </div> 
     </div> 
    </section>
  <a class="exit-off-canvas"></a>

  </div>
    </div>
  </div>
{% endblock %}