<!DOCTYPE html>
<html class="no-js" lang="en" ng-app="guavaApp">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Guava 1.0</title>
		<link rel="stylesheet" href="css/foundation.css" />
		<link rel="stylesheet" href="css/main.css" />
		<link rel="stylesheet" href="css/typeahead.css" />
		<script src="js/vendor/modernizr.js"></script>
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.js"></script>

		<script src="js/controllers.js"></script>
		<script src="js/services.js"></script>
		<script src="js/directives.js"></script>
		<script src="js/app.js"></script>

		
		<script src="js/typeahead.bundle.js"></script>
		<script src="js/typeahead-hpo.js"></script>


	</head>
<body>

	{% block body %}
	{% endblock %}

  <script src="js/foundation/foundation.js"></script>
  <script src="js/foundation/foundation.offcanvas.js"></script>
  <script src="js/foundation/foundation.reveal.js"></script>
  <!-- Other JS plugins can be included here -->
  <script>
  	$(document).foundation();
  </script>


</body>
</html>